body {
    background-color: ghostwhite;
  }
  
  /* img styl  */
  img {
    height: 90vh;
  }
  
  .product-img {
    height: 220px;
    width: 100px;
  }
  i {
    cursor: pointer;
    font-size: 1.5rem;
  }
  